<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <h1>Prueba Técnica BPT</h1>
      </div>
      <hr>
      <!-- Login Form -->
      <form>
        <input type="submit" (click)="onNumeroInverso()"   class="fadeIn three" value="Ejercicio Invertir Numero" >
        <input type="submit" (click)="onHorario()"   class="fadeIn three" value="Ejercicio Horario" >
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Prueba Tecnica BPT</a>
      </div>
  
    </div>
  </div>
